引入三剑客

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

# 处理丢失数据

## 1.有两种丢失数据：
- None: Python自带的数据类型 不能参与到任何计算中
- np.nan(NaN): float类型 能参与计算，但结果总是NaN

In [2]:
None + 2

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [3]:
np.NaN + 2

nan

## 2. np.nan（NaN）

数组直接运算会得到nan，但可以使用np.nan*()函数来计算nan，此时视nan为0。

In [4]:
nd = np.array([1,3,5,np.nan])
nd

array([ 1.,  3.,  5., nan])

In [8]:
nd.sum()
# nd.nansum() # ndarray对象是没有nan*()方法的

AttributeError: 'numpy.ndarray' object has no attribute 'nansum'

In [7]:
np.sum(nd)
np.nansum(nd)

9.0

Series和DataForm可以直接处理nan

## 3. pandas中的None与NaN

### 1) pandas中None与np.nan都视作np.nan

用randint创建一个5*5的DataFrame作为例子

In [16]:
df = DataFrame(data=np.random.randint(0,10,size=(5,5)),columns=list('abcde'))
df

   a  b  c  d  e
0  8  4  8  8  0
1  1  7  6  4  2
2  3  9  6  0  5
3  2  3  9  8  0
4  3  1  8  6  1

使用DataFrame行索引与列索引修改一下DataFrame数据（弄出来一些None和NaN）

In [10]:
s1 = Series([1,3,5,np.nan,None])
s1

0    1.0
1    3.0
2    5.0
3    NaN
4    NaN
dtype: float64

In [11]:
s1.sum()

9.0

In [13]:
df1 = DataFrame([1,3,5,np.nan,None])
df1

     0
0  1.0
1  3.0
2  5.0
3  NaN
4  NaN

In [14]:
df1.sum()

0    9.0
dtype: float64

### 2) pandas中None与np.nan的操作

- ``isnull()``
- ``notnull()``
- ``dropna()``: 过滤丢失数据
- ``fillna()``: 填充丢失数据

(1)判断函数
- ``isnull()``
- ``notnull()``

In [18]:
df
df.loc[1,'a'] = np.nan
df.loc[3,'b'] = np.nan
df.loc[0,'e'] = np.nan
df

     a    b  c  d    e
0  8.0  4.0  8  8  NaN
1  NaN  7.0  6  4  2.0
2  3.0  9.0  6  0  5.0
3  2.0  NaN  9  8  0.0
4  3.0  1.0  8  6  1.0

In [19]:
df.isnull()  # 是nan就是True 不是就是False

       a      b      c      d      e
0  False  False  False  False   True
1   True  False  False  False  False
2  False  False  False  False  False
3  False   True  False  False  False
4  False  False  False  False  False

In [20]:
df.notnull()

       a      b     c     d      e
0   True   True  True  True  False
1  False   True  True  True   True
2   True   True  True  True   True
3   True  False  True  True   True
4   True   True  True  True   True

配合any使用，可以查看每一行是否存在空值
可以控制axis来改变查看方向

In [22]:
df

     a    b  c  d    e
0  8.0  4.0  8  8  NaN
1  NaN  7.0  6  4  2.0
2  3.0  9.0  6  0  5.0
3  2.0  NaN  9  8  0.0
4  3.0  1.0  8  6  1.0

In [23]:
# df.any()  # 默认是axis=0 是 每一列
# df.any(axis=1)

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [25]:
df

     a    b  c  d    e
0  8.0  4.0  8  8  NaN
1  NaN  7.0  6  4  2.0
2  3.0  9.0  6  0  5.0
3  2.0  NaN  9  8  0.0
4  3.0  1.0  8  6  1.0

In [28]:
df.isnull()  # isnull() 有空值就是true

       a      b      c      d      e
0  False  False  False  False   True
1   True  False  False  False  False
2  False  False  False  False  False
3  False   True  False  False  False
4  False  False  False  False  False

In [29]:
df.isnull().any()  # any()只要有True就是True
# 所以 通过 any() 发现某一列是True 说明这一列有空值

a     True
b     True
c    False
d    False
e     True
dtype: bool

In [31]:
df

     a    b  c  d    e
0  8.0  4.0  8  8  NaN
1  NaN  7.0  6  4  2.0
2  3.0  9.0  6  0  5.0
3  2.0  NaN  9  8  0.0
4  3.0  1.0  8  6  1.0

In [30]:
df.isnull().any(axis=1)  # 可以确定那一行（哪一个样本）里有空值

0     True
1     True
2    False
3     True
4    False
dtype: bool

(2) 过滤函数
- ``dropna()``

可以选择过滤的是行还是列（默认为行）

In [35]:
df

     a    b  c  d    e
0  8.0  4.0  8  8  NaN
1  NaN  7.0  6  4  2.0
2  3.0  9.0  6  0  5.0
3  2.0  NaN  9  8  0.0
4  3.0  1.0  8  6  1.0

In [34]:
df.dropna()  # 直接干掉有nan的行

     a    b  c  d    e
2  3.0  9.0  6  0  5.0
4  3.0  1.0  8  6  1.0

In [37]:
df

     a    b  c  d    e
0  8.0  4.0  8  8  NaN
1  NaN  7.0  6  4  2.0
2  3.0  9.0  6  0  5.0
3  2.0  NaN  9  8  0.0
4  3.0  1.0  8  6  1.0

也可以选择过滤的方式 how = 'all'

In [38]:
# {'any', 'all'}
# df.dropna(how='any')  # 默认是any 就是只要这一行有nan就把这一行干掉
df.dropna(how='all')  # 所有的都是NaN才把这一行干掉

     a    b  c  d    e
0  8.0  4.0  8  8  NaN
1  NaN  7.0  6  4  2.0
2  3.0  9.0  6  0  5.0
3  2.0  NaN  9  8  0.0
4  3.0  1.0  8  6  1.0

In [40]:
df.iloc[0] = np.nan

In [41]:
df

     a    b    c    d    e
0  NaN  NaN  NaN  NaN  NaN
1  NaN  7.0  6.0  4.0  2.0
2  3.0  9.0  6.0  0.0  5.0
3  2.0  NaN  9.0  8.0  0.0
4  3.0  1.0  8.0  6.0  1.0

In [42]:
df.dropna(how='all')

     a    b    c    d    e
1  NaN  7.0  6.0  4.0  2.0
2  3.0  9.0  6.0  0.0  5.0
3  2.0  NaN  9.0  8.0  0.0
4  3.0  1.0  8.0  6.0  1.0

(3) 填充函数 Series/DataFrame
- ``fillna()``

In [43]:
df

     a    b    c    d    e
0  NaN  NaN  NaN  NaN  NaN
1  NaN  7.0  6.0  4.0  2.0
2  3.0  9.0  6.0  0.0  5.0
3  2.0  NaN  9.0  8.0  0.0
4  3.0  1.0  8.0  6.0  1.0

可以指定value

In [44]:
# value=None 可以指定填充的值
df.fillna(value=0)

     a    b    c    d    e
0  0.0  0.0  0.0  0.0  0.0
1  0.0  7.0  6.0  4.0  2.0
2  3.0  9.0  6.0  0.0  5.0
3  2.0  0.0  9.0  8.0  0.0
4  3.0  1.0  8.0  6.0  1.0

也可以选择从前面找值来填充还是从后面找值来填充

In [45]:
df

     a    b    c    d    e
0  NaN  NaN  NaN  NaN  NaN
1  NaN  7.0  6.0  4.0  2.0
2  3.0  9.0  6.0  0.0  5.0
3  2.0  NaN  9.0  8.0  0.0
4  3.0  1.0  8.0  6.0  1.0

In [47]:
# method {'backfill', 'bfill', 'pad', 'ffill', None}  从后面找值来填充nan 从前面找值来填充nan
# df.fillna(method='bfill')
# df.fillna(method='ffill')

     a    b    c    d    e
0  NaN  NaN  NaN  NaN  NaN
1  NaN  7.0  6.0  4.0  2.0
2  3.0  9.0  6.0  0.0  5.0
3  2.0  9.0  9.0  8.0  0.0
4  3.0  1.0  8.0  6.0  1.0

In [49]:
# axis=None 填充时沿着哪个轴线
df.fillna(method='bfill',axis=1)

     a    b    c    d    e
0  NaN  NaN  NaN  NaN  NaN
1  7.0  7.0  6.0  4.0  2.0
2  3.0  9.0  6.0  0.0  5.0
3  2.0  9.0  9.0  8.0  0.0
4  3.0  1.0  8.0  6.0  1.0

还可以指定是在寻找值时候的轴线

In [69]:
df

     a    b    c    d    e
0  NaN  NaN  NaN  NaN  NaN
1  6.0  NaN  3.0  0.0  7.0
2  4.0  6.0  7.0  3.0  6.0
3  NaN  5.0  3.0  8.0  6.0
4  4.0  0.0  0.0  7.0  2.0

还可以限定最多填充几个连续的NaN

In [50]:
df

     a    b    c    d    e
0  NaN  NaN  NaN  NaN  NaN
1  NaN  7.0  6.0  4.0  2.0
2  3.0  9.0  6.0  0.0  5.0
3  2.0  NaN  9.0  8.0  0.0
4  3.0  1.0  8.0  6.0  1.0

In [52]:
df.fillna(method='bfill',limit=1)  # limit 可以限制 连续填充nan的个数

     a    b    c    d    e
0  NaN  7.0  6.0  4.0  2.0
1  3.0  7.0  6.0  4.0  2.0
2  3.0  9.0  6.0  0.0  5.0
3  2.0  1.0  9.0  8.0  0.0
4  3.0  1.0  8.0  6.0  1.0

In [53]:
# value=None, method=None, axis=None, inplace=False, limit=None,
# value 设定了 value 表示nan都用这个值来填充
# method 指定从前面填充还是从后面填充
# axis 指定填充内容的轴线 默认竖着的 axis=1就是横着
# inplace 是否替换原df
# limit 最多连续填充几个nan
df.fillna()

ValueError: Must specify a fill 'value' or 'method'.

============================================

练习7：

1. 简述None与NaN的区别

2. 假设张三李四参加模拟考试，但张三因为突然想明白人生放弃了英语考试，因此记为None，请据此创建一个DataFrame,命名为df1

3. 老师决定根据用数学的分数填充张三的英语成绩，如何实现？
    用李四的英语成绩填充张三的英语成绩？

============================================