In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

### 透视表

各种电子表格程序和其他数据分析软件中一种常见的数据汇总工具。它根据一个或多个键对数据进行聚合，并根据行和列上的分组键将数据分配到各个矩形区域中

In [2]:
# 留着
data = np.random.randint(60,100,size=(6,2))
columns = ['height','weight']
df = DataFrame(data=data,columns=columns)
df['age'] = [20,18,30,26,22,32]
df['smoke'] = [True,False,True,False,False,False]
df['sex'] = ['male','female','male','male','female','female']
df

   height  weight  age  smoke     sex
0      62      67   20   True    male
1      99      85   18  False  female
2      98      76   30   True    male
3      89      86   26  False    male
4      73      71   22  False  female
5      81      70   32  False  female

行分组透视表 设置index参数

列分组透视表 设置columns参数

行列分组的透视表  同时设定index、columns参数

fill_value：替换结果中的缺失值

In [8]:
# 男性的平均年龄 和 女性的平均年龄

df.groupby('sex').groups
df.groupby('sex')['age'].mean()
df.groupby('sex')[['age','height','smoke','weight']].mean()

              age     height     smoke     weight
sex
female  24.000000  84.333333  0.000000  75.333333
male    25.333333  83.000000  0.666667  76.333333

In [9]:
# 透视表
pd.pivot_table(df,index='sex')
pd.pivot_table(df,columns='sex')

sex        female       male
age     24.000000  25.333333
height  84.333333  83.000000
smoke    0.000000   0.666667
weight  75.333333  76.333333

### 交叉表

是一种用于计算分组频率的特殊透视图,对数据进行汇总

pd.crosstab(index,colums)

- index:分组数据，交叉表的行索引
- columns:交叉表的列索引

In [11]:
# 男性和女性 吸烟和不吸烟 的人数
pd.crosstab(index=df.sex,columns=df.smoke)
pd.crosstab(index=df.smoke,columns=df.sex)

sex    female  male
smoke
False       3     1
True        0     2