引入模块

In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

创建示例：

data=np.random.randint(0,150,size=(2,8))

index=["rose","jack"]

columns=pd.MultiIndex.from_product([["期中","期末"],["一模","二模"],["语文","英语"]])

df = DataFrame(data,index,columns)

In [57]:
data=np.random.randint(0,150,size=(2,8))
index=["rose","jack"]
columns=pd.MultiIndex.from_product([["期中","期末"],["一模","二模"],["语文","英语"]])
df = DataFrame(data,index,columns)
df

      期中                期末
      一模      二模        一模       二模
      语文  英语  语文   英语   语文  英语   语文   英语
rose  28   7   1  136  129  96  126   20
jack  48  70  94   38   65  76   71  148

## 1. 索引的堆（stack）

- ``stack()``
- ``unstack()``

### stack() columns -> index 列标题变行标题（程序会自动计算数据，让数据跟着标题走）

In [4]:
df

       期中                期末
       一模       二模       一模       二模
       语文   英语  语文   英语  语文   英语  语文  英语
rose   81   40   2   68  41  116  63  47
jack  105  145  98  102  44   50  64  42

In [5]:
df.stack()  # stack()  把 列索引放下来 数据会自动计算位置 不会乱

          期中        期末
          一模   二模   一模  二模
rose 英语   40   68  116  47
     语文   81    2   41  63
jack 英语  145  102   50  42
     语文  105   98   44  64

In [8]:
df.stack().stack()

             期中   期末
rose 英语 一模   40  116
        二模   68   47
     语文 一模   81   41
        二模    2   63
jack 英语 一模  145   50
        二模  102   42
     语文 一模  105   44
        二模   98   64

对于单级列索引，列索引没了，直接变Series

In [13]:
df.stack().stack().stack()  # 最后把所有的索引都变到一个方向后 就成了一个Series

rose  英语  一模  期中     40
              期末    116
          二模  期中     68
              期末     47
      语文  一模  期中     81
              期末     41
          二模  期中      2
              期末     63
jack  英语  一模  期中    145
              期末     50
          二模  期中    102
              期末     42
      语文  一模  期中    105
              期末     44
          二模  期中     98
              期末     64
dtype: int32

对于多级列索引，通过level指明要转换的columns

level 的值默认为-1（最内层）；取值从外往里 从0递增

In [18]:
df

       期中                期末
       一模       二模       一模       二模
       语文   英语  语文   英语  语文   英语  语文  英语
rose   81   40   2   68  41  116  63  47
jack  105  145  98  102  44   50  64  42

In [19]:
# level=-1 level 用来指明 把那一层的列索引放下去 0 1 2 3 从最外面往里走 -1 是 最里层
df.stack()
df.stack(level=-1)  # 默认值是-1 是把最里层的列索引 放下去
df.stack(level=0)

          一模        二模
          英语   语文   英语  语文
rose 期中   40   81   68   2
     期末  116   41   47  63
jack 期中  145  105  102  98
     期末   50   44   42  64

In [20]:
df.stack(level=-1)

          期中        期末
          一模   二模   一模  二模
rose 英语   40   68  116  47
     语文   81    2   41  63
jack 英语  145  102   50  42
     语文  105   98   44  64

【小技巧】使用stack()时，level等于哪个columns，哪个columns就消失，变成index（行标题）

### unstack() index -> columns 行标题变列标题（数据也会跟着标题走）

In [21]:
df

       期中                期末
       一模       二模       一模       二模
       语文   英语  语文   英语  语文   英语  语文  英语
rose   81   40   2   68  41  116  63  47
jack  105  145  98  102  44   50  64  42

In [22]:
df.unstack()

期中  一模  语文  rose     81
            jack    105
        英语  rose     40
            jack    145
    二模  语文  rose      2
            jack     98
        英语  rose     68
            jack    102
期末  一模  语文  rose     41
            jack     44
        英语  rose    116
            jack     50
    二模  语文  rose     63
            jack     64
        英语  rose     47
            jack     42
dtype: int32

In [23]:
df.stack()

          期中        期末
          一模   二模   一模  二模
rose 英语   40   68  116  47
     语文   81    2   41  63
jack 英语  145  102   50  42
     语文  105   98   44  64

In [24]:
df.stack().unstack()

       期中                 期末
       一模        二模       一模      二模
       英语   语文   英语  语文   英语  语文  英语  语文
rose   40   81   68   2  116  41  47  63
jack  145  105  102  98   50  44  42  64

In [26]:
df.stack().unstack(level=0)

     期中                  期末
     一模        二模        一模        二模
   rose jack rose jack rose jack rose jack
英语   40  145   68  102  116   50   47   42
语文   81  105    2   98   41   44   63   64

练习：行列互换

In [27]:
df

       期中                期末
       一模       二模       一模       二模
       语文   英语  语文   英语  语文   英语  语文  英语
rose   81   40   2   68  41  116  63  47
jack  105  145  98  102  44   50  64  42

In [31]:
df.stack().stack().stack().unstack(level=0)

          rose  jack
英语 一模 期中    40   145
      期末   116    50
   二模 期中    68   102
      期末    47    42
语文 一模 期中    81   105
      期末    41    44
   二模 期中     2    98
      期末    63    64

============================================

练习：

1. 将df变为两行，分别为期中期末

2. 将df的行和列换位置（标题层级关系不能变）

============================================

In [32]:
df

       期中                期末
       一模       二模       一模       二模
       语文   英语  语文   英语  语文   英语  语文  英语
rose   81   40   2   68  41  116  63  47
jack  105  145  98  102  44   50  64  42

In [37]:
df.stack(level=0).unstack(level=0)

     一模                  二模
     英语        语文        英语        语文
   rose jack rose jack rose jack rose jack
期中   40  145   81  105   68  102    2   98
期末  116   50   41   44   47   42   63   64

In [42]:
df.stack(level=0).unstack(level=0).stack(level=0).stack(level=0)

          jack  rose
期中 一模 英语   145    40
      语文   105    81
   二模 英语   102    68
      语文    98     2
期末 一模 英语    50   116
      语文    44    41
   二模 英语    42    47
      语文    64    63

## 2. 聚合操作

【注意】

- ndarray是对整个数据的操作，df默认是对列操作
- 通过指定axis，可以对行操作

示例代码

data = np.random.randint(0,5,size=(5,5))

columns = list('ABCDE')

df = DataFrame(data=data,columns=columns)

In [43]:
data = np.random.randint(0,5,size=(5,5))
columns = list('ABCDE')
df = DataFrame(data=data,columns=columns)
df

   A  B  C  D  E
0  3  1  3  0  4
1  3  4  2  3  2
2  4  3  3  0  0
3  2  0  3  3  3
4  1  0  0  4  1

In [44]:
data  # ndarray

array([[3, 1, 3, 0, 4],
       [3, 4, 2, 3, 2],
       [4, 3, 3, 0, 0],
       [2, 0, 3, 3, 3],
       [1, 0, 0, 4, 1]])

In [50]:
data.sum()  # 多维数组是对整个数组进行操作
data.mean()
data.min()
data.max()

4

In [55]:
df.sum()  # dataframe默认是对列进行操作
# axis=None axis指定加和的方向 默认是列
df.sum(axis=1)  # 对行进行操作
df.mean()
df.min()
df.max()

A    4
B    4
C    3
D    4
E    4
dtype: int32

============================================

练习11：

1. 计算期中期末各个科目平均成绩

2. 计算各科目张三李四的最高分

============================================

In [63]:
data=np.random.randint(0,150,size=(2,6))
index=["张三","李四"]
columns=pd.MultiIndex.from_product([["期中","期末"],["语文","数学","英语"]])
df = DataFrame(data,index,columns)
df

    期中            期末
    语文  数学   英语   语文   数学  英语
张三  47  97   13   32  138  87
李四  59  63  124  149  135  67

In [67]:
df.mean()
df.mean(axis=1)
df.max()
df.max(axis=1)

张三    138
李四    149
dtype: int32